<!-- Nav Bar -->

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
      </ul>
    </div>
    <h1><%= link_to 'file.me', root_path %></h1>
    <hr />
  </div>
</div>

<!-- End Nav -->

<!-- Main Page Content and Sidebar -->

<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">
    <div class="error">
      <% if @return.errors.any? %>
        <% @return.errors.full_messages.each do |msg| %>
          <%= msg %>
          <% end %>
      <% end %>
    </div>
    <article>
      <%= form_for @return do |f| %>
        <%= f.label 'What is your skill level?' %>
        <%= f.select :filer_experience, ['Slim to none', 'Some experience', 'Very experienced'], include_blank: 'Please select one' %>

        <%= f.label 'What state do you live in?' %>
        <%= f.select :filer_state, options_for_select(us_states), include_blank: 'Please select one' %>

        <%= f.label :filer_email, 'What is your email address?' %>
        <%= f.text_field :filer_email %>

        <%= f.label 'Select all of the following that apply to you:' %>
        <%= f.collection_check_boxes(:question_ids, Question.all, :id, :question) %>

        <%= f.submit 'Submit' %>

      <% end %>

    </article>

  </div>

</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 file.me</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
