
<div class="row">
  <div class="large-9 columns">
    <div class="large-3 columns">
      <h1><%= link_to image_tag('/logo/logo.jpg'), root_path %></h1>
    </div>
    <h3>Get in Touch!</h3>
    <p>We'd love to hear from you. Please shoot us a message about anything in regards to the site.</p></br>
    <div class="error">
      <% if @contact_form.errors.any? %>
        <% @contact_form.errors.full_messages.each do |msg| %>
          <span><%= msg %>. </span>
        <% end %>
      <% end %>
    </div>
    <div class="section-container tabs" data-section>
      <section class="section">
        <div class="content" data-slug="panel1">
          <%= form_for @contact_form do |f| %>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"><%= f.label :name, 'Your Name' %></label>
              </div>
              <div class="large-10 columns">
                <%= f.text_field :name %>
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"><%= f.label :email, 'Your Email' %></label>
              </div>
              <div class="large-10 columns">
                <%= f.text_field :email %>
              </div>
            </div>
            <%= f.label :message %>
            <%= f.text_area :message, rows: 10 %>
            <%= f.submit 'Send Message' %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© file.me 2015</p>
      </div>
    </div>
  </div>
</footer>
